TELEGRAM_NOTIFICATIONS_ENABLED=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_TIMEOUT=10

DNS_SHOP_ID=6
DNS_CITY=
DNS_REGION=
DNS_BROWSER_MODE=cdp
DNS_CDP_URL=http://127.0.0.1:9223
DNS_PROXY_SERVER=
DNS_TELEGRAM_ENABLED=false
